@charset "utf-8";


html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px
}
body{
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 1.8;
	letter-spacing: 0.5px;
	word-wrap: break-word;
	font-weight: 400;
}
svg{
	fill: currentcolor;
	width: 15px;
	height: 15px;
}
img.svg{
	width: 15px;
	height: 15px;
}
.nmaiya_tm_wrapper_all,
.nmaiya_tm_section,
.nmaiya_tm_content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.nmaiya_tm_content{
	position: relative;
	z-index: 1;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #333;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #333;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #333;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #333;
}

::placeholder { /* Most modern browsers support this now. */
   color: #333;
}
.nmaiya_tm_preloader{
  position: fixed;
  background-color: #fff;
  z-index: 9999999;
  height: 100%;
  width: 100%;
	
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s; }  
.nmaiya_tm_preloader .spinner_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 33333;
}
.nmaiya_tm_preloader.loaded {
    opacity: 0;
    visibility: hidden;
}
.nmaiya_tm_preloader:before,
.nmaiya_tm_preloader:after{
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #000;
	
    -webkit-transition: .7s all ease;
    -o-transition: .7s all ease;
    transition: .7s all ease;
}
.nmaiya_tm_preloader:before{
    top: 0;
    left: 0; 
}
.nmaiya_tm_preloader:after{
    bottom: 0;
	left: 0; 
}
.nmaiya_tm_preloader.loaded:before, .nmaiya_tm_preloader.loaded:after{height: 0%;}



.nmaiya_tm_header{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: fixed;
	top: 0px;
	z-index: 55;
	
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_header.scroll{
	background-color: #fff;	
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.nmaiya_tm_header.scroll .nmaiya_tm_navigation_wrap .menu > ul > li a{
	color: #000;
	position: relative;
}
.nmaiya_tm_header.scroll .nmaiya_tm_navigation_wrap .menu > ul > li a:before{
	position: absolute;
	content: "";
	width: 0px;
	height: 2px;
	background-color: #000;
	bottom: 5px;
	left: 0px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.nmaiya_tm_header.scroll .nmaiya_tm_navigation_wrap .menu > ul > li:hover a:before{width: 100%;}
.nmaiya_tm_navigation_wrap,
.nmaiya_tm_navigation_wrap .navigation_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_navigation_wrap{
	min-height: 38px;	
	line-height: 38px;
	padding: 35px 0px;
	
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.nmaiya_tm_header.scroll .nmaiya_tm_navigation_wrap{padding: 24px 0px;}
.nmaiya_tm_header.scroll .nmaiya_tm_navigation_wrap .logo .light_logo{display: none;}
.nmaiya_tm_header.scroll .nmaiya_tm_navigation_wrap .logo .dark_logo{display: inline-block;}
.nmaiya_tm_navigation_wrap .navigation_inner{position: relative;}
.nmaiya_tm_navigation_wrap .logo{
	position: absolute;
	left: 0px;
	top: -3px;
}
.nmaiya_tm_navigation_wrap .logo .dark_logo{display: none;}
.nmaiya_tm_navigation_wrap .nav_list_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	text-align: right;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_navigation_wrap .menu > ul{
	margin: 0px;
	list-style-type: none;
}
.nmaiya_tm_navigation_wrap .menu > ul > li{
	margin: 0px 30px 0px 0px;
	display:inline-block; 
}
.nmaiya_tm_navigation_wrap .menu > ul > li:last-child{margin-right: 0px;}
.nmaiya_tm_navigation_wrap .menu > ul > li a{
	text-decoration: none;
	color: #fff;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 500;
	display: block;
	position: relative;
}
.nmaiya_tm_navigation_wrap .menu > ul > li a:before{
	position: absolute;
	content: "";
	width: 0px;
	height: 2px;
	background-color: #fff;
	bottom: 5px;
	left: 0px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.nmaiya_tm_navigation_wrap .menu > ul > li:hover a:before{width: 100%;}
.nmaiya_tm_navigation_wrap .social_icons_wrap{
	position: absolute;
	right: 0px;
	top: 0px;
}
.nmaiya_tm_navigation_wrap .social_icons_wrap > ul{
	margin: 0px;
	list-style-type: none;
}
.nmaiya_tm_navigation_wrap .social_icons_wrap > ul > li{
	margin: 0px 10px 0px 0px;
	display: inline-block;
}
.nmaiya_tm_navigation_wrap .social_icons_wrap > ul > li:last-child{margin-right: 0px;}
.nmaiya_tm_navigation_wrap .social_icons_wrap > ul > li a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	display: inline-block;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.nmaiya_tm_navigation_wrap .social_icons_wrap > ul > li a:hover{color: #ed2629;}



.nmaiya_tm_mobile_menu_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: rgba(255,255,255,.97);
	padding: 50px 20px;
	display: none;
	border-bottom: 1px solid rgba(255,255,255,.09);
	border-top: 1px solid rgba(255,255,255,.09);
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */	
}
.nmaiya_tm_mobile_menu_wrap .mob_menu{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_mobile_menu_wrap .mob_menu > ul{
	margin: 0px;
	list-style-type: none;
}
.nmaiya_tm_mobile_menu_wrap .mob_menu > ul > li{margin: 0px 0px 5px 0px;}
.nmaiya_tm_mobile_menu_wrap .mob_menu > ul > li:last-child{margin-bottom: 0px;}
.nmaiya_tm_mobile_menu_wrap .mob_menu > ul > li a{
	text-decoration: none;
	color: #000;
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 19px;
}



.nmaiya_tm_trigger{
	position: absolute;
	right: 0px;
	top: 11px;
	display: none;
}
.nmaiya_tm_trigger .hamburger{
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.nmaiya_tm_trigger .hamburger-box{
    width: 30px;
    height: 18px;
    display: inline-block;
    position: relative;
}
.nmaiya_tm_trigger .hamburger-inner{
    display: block;
    top: 50%;
    margin-top: -2px;
}
.nmaiya_tm_trigger .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    width: 30px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.nmaiya_tm_trigger .hamburger-inner::before,
.nmaiya_tm_trigger .hamburger-inner::after{
    content: "";
    display: block;
}
.nmaiya_tm_trigger .hamburger-inner::before{top: -8px;}
.nmaiya_tm_trigger .hamburger-inner::after{ bottom: -10px;}
.nmaiya_tm_trigger .hamburger--collapse-r .hamburger-inner{
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.nmaiya_tm_trigger .hamburger--collapse-r .hamburger-inner::after{
    top: -16px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.nmaiya_tm_trigger .hamburger--collapse-r .hamburger-inner::before{
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.nmaiya_tm_trigger .hamburger--collapse-r.is-active .hamburger-inner{
    transform: translate3d(0, -10px, 0) rotate(45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.nmaiya_tm_trigger .hamburger--collapse-r.is-active .hamburger-inner::after{
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.nmaiya_tm_trigger .hamburger--collapse-r.is-active .hamburger-inner::before{
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.nmaiya_tm_trigger .hamburger{
	padding: 0px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.nmaiya_tm_trigger .hamburger-box{display: block;}
.nmaiya_tm_trigger .hamburger .hamburger-inner::before,
.nmaiya_tm_trigger .hamburger .hamburger-inner::after,
.nmaiya_tm_trigger .hamburger .hamburger-inner{
	background-color: #000;
	width: 30px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}



.nmaiya_tm_nmain_header{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_universal_box_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_universal_box_wrap .bg_wrap{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
.nmaiya_tm_universal_box_wrap .overlay_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nmaiya_tm_universal_box_wrap .overlay_video{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	overflow: hidden;
}

.nmaiya_tm_universal_box_wrap .overlay_video video{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	
}
.nmaiya_tm_universal_box_wrap .overlay_color{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 20;
}
.nmaiya_tm_universal_box_wrap .overlay_image.nmain{background-image: url(..//img/nmain/new/3.jpg);}
.nmaiya_tm_universal_box_wrap .overlay_color.nmain{background-color: rgba(0,0,0,.6);}
.nmaiya_tm_universal_box_wrap .content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	z-index: 25;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_universal_box_wrap .content.nmain{
	height: 100vh;
	overflow: hidden;
}
.nmaiya_tm_nmain_title{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: 20;
	text-align: center;
	width: 100%;
}
.container.nmain{position: static;}
.nmaiya_tm_animation_text_word{
	font-size: 50px;
	font-weight: 600;
	font-family: "Montserrat";
	letter-spacing: -1px;
}
.nmaiya_tm_nmain_title .first .another{
	font-weight: 400;
	font-size: 45px;
}
.typed-cursor{
	color: #fff;
	padding-left: 10px;
	font-weight: 400;
}
.nmaiya_tm_nmain_title .first{
	color: #fff;
	font-family: "Montserrat";
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 26px;
	line-height: 1.2;
	letter-spacing: -1px;
}
.nmaiya_tm_nmain_title .social_icons{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: center;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_nmain_title .social_icons ul{
	margin: 0px;
	list-style-type: none;
	display: inline-block;
}
.nmaiya_tm_nmain_title .social_icons ul li{
	margin: 0px 15px 0px 0px;
	display: inline-block;
}
.nmaiya_tm_nmain_title .social_icons ul li:last-child{margin-right: 0px;}
.nmaiya_tm_nmain_title .social_icons ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	position: relative;
	font-family: "Montserrat";
	font-weight: 500;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.nmaiya_tm_nmain_title .social_icons ul li a:before{
	position: absolute;
	content: "";
	width: 0%;
	height: 2px;
	background-color: #fff;
	left: 0px;
	bottom: -5px;
	display: block;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.nmaiya_tm_nmain_title .social_icons ul li:hover a:before{width: 100%;}
.nmaiya_tm_discover_wrap{
	position: absolute;
	z-index: 333;
	right: 40px;
	bottom: 100px;
	transform: rotate(-90deg);
}
.nmaiya_tm_discover_wrap a{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	position: relative;
	display: block;
}
.nmaiya_tm_discover_wrap a:after{
	position: absolute;
	content: "";
	width: 0px;
	height: 2px;
	left: -20px;
	bottom: -2px;
	background-color: #fff;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.nmaiya_tm_discover_wrap a:hover:after{width: calc(100% + 20px);}
.nmaiya_tm_discover_wrap a:before{
	content: '\f104';
    position: absolute;
    bottom: -8px;
    left: -17px;
    font-family: xcon;
    font-size: 24px;
    color: #fff;
    -webkit-animation: secdownmoving 1000ms linear 0s infinite;
    -o-animation: secdownmoving 1000ms linear 0s infinite;
    animation: secdownmoving 1000ms linear 0s infinite;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
@keyframes secdownmoving{
    0%{
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
    50%{
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100%{
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
}



.nmaiya_tm_main_title_holder{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: center;
	margin-bottom: 100px;
	padding: 0px 10px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}

.nmaiya_tm_main_title_holder.education{margin-bottom: 85px;}
.nmaiya_tm_main_title_holder.testimonials{margin-bottom: 95px;}
.nmaiya_tm_main_title_holder.news{margin-bottom: 95px;}
.nmaiya_tm_main_title_holder.contact{margin-bottom: 67px;}
.nmaiya_tm_main_title_holder.about{
	text-align: left;
	margin-bottom: 0px;
	padding: 0px;
}
.nmaiya_tm_main_title_holder h3{
	font-weight: 600;
	font-family: "Montserrat";
	color: #000000;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 15px;
}
.nmaiya_tm_main_title_holder span{
    font-family: "Montserrat";
    color: #333;
    font-size: 15px;
    font-weight: 600;
}
.nmaiya_tm_about_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 100px 0px 98px 0px;
	position: relative;
	margin-top: -6px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.nmaiya_tm_about_wrap ppp{
	width: 100%;
	height: auto;
	clear: both;
	float: left;

	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.nmaiya_tm_about_wrap .author_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	display: flex;
	align-items: center;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.nmaiya_tm_about_wrap .leftbox{
	width: 35%;
	float: left;
	height: auto;
}
.nmaiya_tm_about_wrap .leftboxedu{
	width: 25%;
	float: left;
	height: auto;
}

.nmaiya_tm_about_wrap .leftbox .image{position: relative;}
.nmaiya_tm_about_wrap .leftbox .image .main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center; 
}
.nmaiya_tm_about_wrap .rightbox{
	width: 65%;
	float: right;
	padding: 0px 0px 0px 65px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.nmaiya_tm_about_wrap .rightboxedu{
	width: 75%;
	float: right;
	padding: 0px 0px 0px 65px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.nmaiya_tm_about_wrap .subtitle{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.nmaiya_tm_about_wrap .subtitle p{
	font-family: "Montserrat";
	color: #333;
	font-size: 15px;
	font-weight: 600;
}
.nmaiya_tm_about_wrap .definition{margin-bottom: 20px;}
.nmaiya_tm_about_wrap .definition p{color: #333;}
.nmaiya_tm_about_wrap .definition p strong{color: #FF506D;}
.progress_bar_wrap_total{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 10px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_progress_wrap[data-size="big"] .nmaiya_tm_progress .nmaiya_tm_bar_bg{height:40px;}
.nmaiya_tm_progress_wrap[data-size="small"] .nmaiya_tm_progress .nmaiya_tm_bar_bg{height:5px;}

.nmaiya_tm_progress_wrap[data-round="a"] .nmaiya_tm_progress .nmaiya_tm_bar_bg,
.nmaiya_tm_progress_wrap[data-round="a"] .nmaiya_tm_progress .nmaiya_tm_bar{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.nmaiya_tm_progress_wrap[data-round="b"] .nmaiya_tm_progress .nmaiya_tm_bar_bg,
.nmaiya_tm_progress_wrap[data-round="b"] .nmaiya_tm_progress .nmaiya_tm_bar{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.nmaiya_tm_progress_wrap[data-round="c"] .nmaiya_tm_progress .nmaiya_tm_bar_bg,
.nmaiya_tm_progress_wrap[data-round="c"] .nmaiya_tm_progress .nmaiya_tm_bar{
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
}
.nmaiya_tm_progress{
	width:100%;
	margin-bottom:15px;
}
.nmaiya_tm_progress > span{
	margin:0px 0px 3px 0px;
	width:100%;
	display:block;
	text-align:left;
}
.nmaiya_tm_progress span.label{
	font-size:13px;
	font-weight:700;
	color:#000;
	font-family: "Montserrat";
}
.nmaiya_tm_progress span.number{
	float:right;
	font-size:13px;
	color:#000;
	font-weight: 700;
	font-family: "Montserrat";
}
.nmaiya_tm_progress .nmaiya_tm_bar_bg{
	background:rgba(0,0,0,.1);
	width:100%;
	min-width:100%;
	position:relative;
	height:20px;
}
.nmaiya_tm_progress .nmaiya_tm_bar_bg .nmaiya_tm_bar_wrap{
	width:0px;
	height:100%;
}
.nmaiya_tm_progress .nmaiya_tm_bar_bg .nmaiya_tm_bar_wrap.open{
	-webkit-animation: nmaiya_tm_expand 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* Safari 4+ */
	-moz-animation:    nmaiya_tm_expand 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* Fx 5+ */
	animation:         nmaiya_tm_expand 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* IE 10+ */
	width:100%;	
}
.nmaiya_tm_progress .nmaiya_tm_bar_bg .nmaiya_tm_bar{
	height:100%;
	background:#333;
	width:0px;
	overflow:hidden;
}
.nmaiya_tm_progress_wrap[data-strip="on"] .nmaiya_tm_progress .nmaiya_tm_bar{
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 75%, transparent 75%, transparent);
	
	-webkit-animation: nmaiya_tm_bar_move 4s linear infinite;
	-moz-animation: nmaiya_tm_bar_move 4s linear infinite;
	animation: nmaiya_tm_bar_move 4s linear infinite;
	background-size: 50px 50px;
}
@-webkit-keyframes nmaiya_tm_bar_move {0%{background-position: 0 0;} 100% {background-position: 50px 50px;}}
@-moz-keyframes nmaiya_tm_bar_move {0%{background-position: 0 0;} 100% {background-position: 50px 50px;}}
@keyframes nmaiya_tm_bar_move {0%{background-position: 0 0;} 100% {background-position: 50px 50px;}}

/*expand width animation*/
@-webkit-keyframes nmaiya_tm_expand {0%{ width:0%; } 100%{ width:100%; }}
@-moz-keyframes nmaiya_tm_expand {0%{ width:0%; } 100%{ width:100%; }}
@keyframes nmaiya_tm_expand {0%{ width:0%; } 100%{ width:100%; }}

.nmaiya_tm_about_wrap .about_short_contact_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 28px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_about_wrap .about_short_contact_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.nmaiya_tm_about_wrap .about_short_contact_wrap ul li{
	margin: 0px 30px 0px 0px;
	float: left;
}
.nmaiya_tm_about_wrap .about_short_contact_wrap ul li .svg{
	position: relative;
	top: 2px;
	padding-right: 5px;
	color: #FF506D;
}
.nmaiya_tm_about_wrap .about_short_contact_wrap ul li:last-child{margin-right: 0px;}
.about_short_contact_wrap ul li label{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 13px;
	color: #000;
	padding-right: 7px;
}
.nmaiya_tm_about_wrap .about_short_contact_wrap ul li a{
	text-decoration: none;
	color: #000;
    position: relative;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.nmaiya_tm_about_wrap .about_short_contact_wrap ul li a:before{
	position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #000;
    left: 0px;
    bottom: -5px;
    display: block;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.nmaiya_tm_about_wrap .about_short_contact_wrap ul li a:hover:before{width: 100%;}
.nmaiya_tm_about_wrap .buttons_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_about_wrap .buttons_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.nmaiya_tm_about_wrap .buttons_wrap ul li{
	margin: 0px 30px 0px 0px;
	float: left;
}
.nmaiya_tm_about_wrap .buttons_wrap ul li:last-child{margin-right: 0px;}
.nmaiya_tm_about_wrap .buttons_wrap ul li a{
	color: #fff;
    text-decoration: none;
    background-color: #FF506D;
    padding: 8px 35px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 600;
    border-radius: 3px;
	transition: all .3s ease;
}
.nmaiya_tm_about_wrap .buttons_wrap ul li a:hover{background-color: #000;}


.nmaiya_tm_list_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_list_wrap > ul.total{
	margin: 0px;
	list-style-type: none;
}
.nmaiya_tm_list_wrap > ul.total > li{
	margin: 0px;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_list_wrap > ul.total > li .inner_list{
	width: 100%;
    height: auto;
	clear: both;
	float: left;
	position: relative;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}

.nmaiya_tm_list_wrap[data-column="1"] ul.total > li{width: 100%;}
.nmaiya_tm_list_wrap[data-column="2"] ul.total > li{width: 50%;}
.nmaiya_tm_list_wrap[data-column="3"] ul.total > li{width: 33.3333%;}
.nmaiya_tm_list_wrap[data-column="4"] ul.total > li{width: 25%;}
.nmaiya_tm_list_wrap[data-column="5"] ul.total > li{width: 20%;}
.nmaiya_tm_list_wrap[data-space="0"] ul.total{margin-left: 0px;}
.nmaiya_tm_list_wrap[data-space="1"] ul.total{margin-left: 1px;}
.nmaiya_tm_list_wrap[data-space="2"] ul.total{margin-left: 2px;}
.nmaiya_tm_list_wrap[data-space="3"] ul.total{margin-left: 3px;}
.nmaiya_tm_list_wrap[data-space="4"] ul.total{margin-left: 4px;}
.nmaiya_tm_list_wrap[data-space="5"] ul.total{margin-left: 5px;}
.nmaiya_tm_list_wrap[data-space="10"] ul.total{margin-left: -10px;}
.nmaiya_tm_list_wrap[data-space="20"] ul.total{margin-left: -20px;}
.nmaiya_tm_list_wrap[data-space="30"] ul.total{margin-left: -30px;}
.nmaiya_tm_list_wrap[data-space="40"] ul.total{margin-left: -40px;}
.nmaiya_tm_list_wrap[data-space="50"] ul.total{margin-left: -50px;}
.nmaiya_tm_list_wrap[data-space="60"] ul.total{margin-left: -60px;}
.nmaiya_tm_list_wrap[data-space="70"] ul.total{margin-left: -70px;}
.nmaiya_tm_list_wrap[data-space="80"] ul.total{margin-left: -80px;}
.nmaiya_tm_list_wrap[data-space="0"] ul.total > li{padding: 0px;}
.nmaiya_tm_list_wrap[data-space="1"] ul.total > li{padding-left: 1px; margin-bottom: 1px;}
.nmaiya_tm_list_wrap[data-space="2"] ul.total > li{padding-left: 2px; margin-bottom: 2px;}
.nmaiya_tm_list_wrap[data-space="3"] ul.total > li{padding-left: 3px; margin-bottom: 3px;}
.nmaiya_tm_list_wrap[data-space="4"] ul.total > li{padding-left: 4px; margin-bottom: 4px;}
.nmaiya_tm_list_wrap[data-space="5"] ul.total > li{padding-left: 5px; margin-bottom: 5px;}
.nmaiya_tm_list_wrap[data-space="10"] ul.total > li{padding-left: 10px; margin-bottom: 10px;}
.nmaiya_tm_list_wrap[data-space="20"] ul.total > li{padding-left: 20px; margin-bottom: 20px;}
.nmaiya_tm_list_wrap[data-space="30"] ul.total > li{padding-left: 30px; margin-bottom: 30px;}
.nmaiya_tm_list_wrap[data-space="40"] ul.total > li{padding-left: 40px; margin-bottom: 40px;}
.nmaiya_tm_list_wrap[data-space="50"] ul.total > li{padding-left: 50px; margin-bottom: 50px;}
.nmaiya_tm_list_wrap[data-space="60"] ul.total > li{padding-left: 60px; margin-bottom: 60px;}
.nmaiya_tm_list_wrap[data-space="70"] ul.total > li{padding-left: 70px; margin-bottom: 70px;}
.nmaiya_tm_list_wrap[data-space="80"] ul.total > li{padding-left: 80px; margin-bottom: 80px;}





/* PORTFOLIO LIST */

.nmaiya_tm_portfolio_list{
	list-style-type:none;
	margin: 0px 0px 0px -30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}


.nmaiya_tm_portfolio_list > li{
	width:18.3333%;
	float:left;
	position:relative;
	margin: 0px 0px 30px 0px;
	padding-left: 30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_portfolio_list li img{min-width: 100%;}

.entry{position: relative;}
.nmaiya_tm_portfolio_p_image_main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nmaiya_tm_portfolio_p1_image_main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nmaiya_tm_portfolio_acad_image_main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nmaiya_tm_portfolio_acad2_image_main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nmaiya_tm_portfolio_acad3_image_main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nmaiya_tm_portfolio_p_image_main{background-image: url(..//img/intro/sacstate1.jpg);}
.nmaiya_tm_portfolio_p1_image_main{background-image: url(..//img/intro/ambedkar.png);}
/* .nmaiya_tm_portfolio_acad_image_main{background-image: url(..//img/intro/indoor.jpg);} */
.nmaiya_tm_portfolio_acad_image_main{background-image: url(..//img/intro/indoor.jpg);}
.nmaiya_tm_portfolio_acad2_image_main{background-image: url(..//img/intro/seekers.jpg);}
.nmaiya_tm_portfolio_acad3_image_main{background-image: url(..//img/intro/sentimental.jpg);}




.nmaiya_tm_testimonial_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
/*.nmaiya_tm_universal_box_wrap .overlay_image.testimonial{background-image: url(..//img/jarallax/1.jpg);}*/
.nmaiya_tm_universal_box_wrap .overlay_color.testimonial{background-color: #f5f5f5;}
.nmaiya_tm_universal_box_wrap .content.testimonial{padding-bottom: 95px;padding-top: 92px;}






.nmaiya_tm_counter_list{
	list-style-type:none;
	width:100%;
	margin: 0px;
	
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	perspective: 500px;
}
.nmaiya_tm_counter_list li{
	width:25%;
	float:left;
	text-align:center;
	margin: 0px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_counter_list li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	padding: 90px 15px 93px 15px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_counter_list li .inner:before{
	position: absolute;
	content: "";
	width: 1px;
	top: 35px;
	bottom: 35px;
	background-color: #d1d7db;
	left: 100%;
}
.nmaiya_tm_counter_list li:nth-child(4) .inner:before{display: none;}
.nmaiya_tm_counter_list li h3{
	font-family: "Montserrat";
	color: #181a2f;
	margin-bottom: 10px;
}
.nmaiya_tm_counter_list li h3 > span{
	font-size: 40px;
	font-weight: 600;
}
.nmaiya_tm_counter_list li .inner > span{
	color:#FF506D;
	font-family: "Open Sans";
	font-size: 14px;
	display: block;
	font-weight: 600;
}




.nmaiya_tm_news_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 92px;
	padding-bottom: 70px;
	background-color: #f5f5f5;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.nmaiya_tm_news_wrap .nmaiya_tm_list_wrap .inner_list{
	background-color: #fff;
	border-radius: 3px;
}
.nmaiya_tm_news_wrap .definitions_wrap{padding: 40px 30px 47px 30px;}
.nmaiya_tm_news_wrap .image_wrap{position: relative;}
.nmaiya_tm_news_wrap .image_wrap .big{display: none;}
.nmaiya_tm_news_wrap .image_wrap .small{display: block;}
.nmaiya_tm_news_wrap .news_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nmaiya_tm_news_wrap .date_wrap{margin-bottom: 16px;}
.nmaiya_tm_news_wrap .date_wrap p{
	color: #333;
	font-family: "Montserrat";
	font-weight: 600;
}
.nmaiya_tm_news_wrap .full_def{display: none;}
.nmaiya_tm_news_wrap .date_wrap p a{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	margin-left: 23px;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.nmaiya_tm_news_wrap .date_wrap p a:before{
	position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #000;
    left: 0px;
    bottom: -5px;
    display: block;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.nmaiya_tm_news_wrap .date_wrap p a:after{
	position: absolute;
	content: "";
	width: 10px;
	height: 1px;
	background-color: #333;
	top: 50%;
	right: 100%;
	margin-right: 8px;
}
.nmaiya_tm_news_wrap .date_wrap p a:hover:before{width: 100%;}
.nmaiya_tm_news_wrap .title_holder{margin-bottom: 5px;}
.nmaiya_tm_news_wrap .title_holder h3{
	color: #fff;
	line-height: 1.4;
	font-weight: 600;
	font-family: "Montserrat";
}
.nmaiya_tm_news_wrap .title_holder h3 p{
	text-decoration: none;
	color: #000;
	font-size: 19px;
	display: block;
	transition: all .3s ease;
}
.nmaiya_tm_news_wrap .title_holder h3 a:hover{color: #FF506D;}
.nmaiya_tm_news_wrap .definition{margin-bottom: 26px;}
.nmaiya_tm_news_wrap .definition p{color: #333;}
.nmaiya_tm_news_wrap .read_more a{
	color: #fff;
	text-decoration: none;
	background-color: #FF506D;
	padding: 8px 35px;
	display: inline-block;
	font-family: "Montserrat";
	font-weight: 600;
	border-radius: 3px;
	transition: all .3s ease;
}
.nmaiya_tm_news_wrap .read_more a:hover{background-color: #000;}
.nmaiya_tm_popup_share_wrap{display: none;}
#nmaiya_tm_popup_blog{
	opacity: 0;
	visibility: hidden;
	
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: rgba(255,255,255,1);
	padding: 50px 0px;	
	z-index: 99999999;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
	
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
#nmaiya_tm_popup_blog.opened{
	opacity: 1;
	visibility: visible;
}
#nmaiya_tm_popup_blog .definitions_wrap{
	width: 100%;
	float: left;
}
#nmaiya_tm_popup_blog .full_def{
	display: block;
	margin-bottom: 20px;
	width: 100%;
	float: left;
}
#nmaiya_tm_popup_blog .image_wrap p{display: inline-block;}

#nmaiya_tm_popup_blog .definition{display: none;}
#nmaiya_tm_popup_blog .inner_popup{
	width: 100%;
	float: left;
	clear: both;
	position: relative;
}
#nmaiya_tm_popup_blog .date_wrap p{
	color: #333;
    font-family: "Montserrat";
    font-weight: 600;
}
#nmaiya_tm_popup_blog .date_wrap p a{
	color: #333;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    margin-left: 23px;
}
#nmaiya_tm_popup_blog .image_wrap{
	margin-bottom: 45px;
	position: relative;
	width: 100%;
	float: left;
}

#nmaiya_tm_popup_blog .image_wrap .news_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#nmaiya_tm_popup_blog .date_wrap{
	margin-bottom: 16px;
	width: 100%;
	float: left;
}
#nmaiya_tm_popup_blog .date_wrap p a:before{
	position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #333;
    top: 50%;
    right: 100%;
    margin-right: 8px;
}
#nmaiya_tm_popup_blog .title_holder{
	margin-bottom: 18px;
	width: 100%;
	float: left;
}
#nmaiya_tm_popup_blog .title_holder h3{
    line-height: 1.4;
    font-weight: 600;
    font-family: "Montserrat";
}
#nmaiya_tm_popup_blog .title_holder h3 p{
    text-decoration: none;
    color: #000;
    font-size: 22px;
    display: block;
}
#nmaiya_tm_popup_blog .definition p{color: #333;}
#nmaiya_tm_popup_blog .read_more{display: none;}
#nmaiya_tm_popup_blog .nmaiya_tm_popup_share_wrap{
	display: block;
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-bottom: 5px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
#nmaiya_tm_popup_blog .nmaiya_tm_popup_share_wrap ul{
	margin: 0px;
	list-style-type: none;
}
#nmaiya_tm_popup_blog .nmaiya_tm_popup_share_wrap ul li{
	display: inline-block;
	margin: 0px 15px 0px 0px;
}
#nmaiya_tm_popup_blog .nmaiya_tm_popup_share_wrap ul li a{
	text-decoration: none;
    color: #000;
    font-size: 15px;
    position: relative;
    font-family: "Montserrat";
    font-weight: 600;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#nmaiya_tm_popup_blog .nmaiya_tm_popup_share_wrap ul li a:before{
	position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #000;
    left: 0px;
    bottom: -5px;
    display: block;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#nmaiya_tm_popup_blog .nmaiya_tm_popup_share_wrap ul li a:hover:before{width: 100%;}
#nmaiya_tm_popup_blog .close{
	position: absolute;
	top: 30px;
	right: 40px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: block;
	z-index: 111111111;
}
#nmaiya_tm_popup_blog .close a{
	position: relative;
	display: block;
	height: 30px;
	margin-right: 10px;
	margin-top: 12px;
}
#nmaiya_tm_popup_blog .close a:before{
	position: absolute;
	content: "";
	width: 2px;
	height: 20px;
	background-color: rgba(0,0,0,1.00);
	top: 5px;
	right: 13px;
	transform: rotate(45deg);
}
#nmaiya_tm_popup_blog .close a:after{
	position: absolute;
	content: "";
	width: 2px;
	height: 20px;
	background-color: rgba(0,0,0,1.00);
	top: 5px;
	right: 13px;
	transform: rotate(135deg);
}










.nmaiya_tm_footer_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: center;
	background-color: #000;
	padding: 50px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.nmaiya_tm_footer_wrap p{color: #fff;}


.nmaiya_tm_universal_box_wrap .overlay_color.video{background-color: rgba(0,0,0,.8);

}








.nmaiya_tm_nmain_header .nmaiya_tm_discover_wrap.shape{
	bottom: 200px;
}
.nmaiya_tm_nmain_header_particle .nmaiya_tm_discover_wrap.another{
	bottom: 100px;
}






.glitch{
	position: absolute;
 	width: 100%;
 	height: 100%;
	top: 0;
 	left: 0;
	background-image: url(..//img/nmain/new/3.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	z-index: -1 !important;
	opacity: 1;
	transform: scale(1);
}
.glitch:before{
	content: "";
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}


.nmaiya_tm_kenburn_nmain{
	width: 100%;
	height: 100vh;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nmaiya_tm_kenburn_nmain .overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,.6);
}

.nmaiya_tm_nmain_header .bottom.shape{
	position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    z-index: 10;
}
.nmaiya_tm_nmain_header.shape{clip-path: polygon(0 0, 100% 0, 100% 80%, 30% 100%, 0 80%);}
.nmaiya_tm_nmain_header.shape .nmaiya_tm_discover_wrap{bottom: 255px;}

.nmaiya_tm_nmain_header .nmain_image{
	position: relative;
	width: 100%;
	max-width: 180px;
	margin: 0px auto;
	height: 180px;
	margin-bottom: 45px;
}
.nmaiya_tm_nmain_header .nmain_image:before{
	position: absolute;
	content: "";
	top: -10px;
	bottom: -10px;
	left: -10px;
	right: -10px;
	background-color: rgba(255,255,255,.05);
	border-radius: 100%;
}
.nmaiya_tm_nmain_header .nmain_image img{
	min-width: 100%;
	border-radius: 100%;
}
.nmaiya_tm_nmain_header .nmain_image .image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 100%;
}




.nmaiya_tm_intro_universal_bg_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_intro_universal_bg_wrap .bg_wrap{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	
}
.nmaiya_tm_intro_universal_bg_wrap .bg_wrap .overlay_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.nmaiya_tm_intro_universal_bg_wrap .bg_wrap .overlay_color{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 20;
}
.nmaiya_tm_intro_universal_bg_wrap .content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	z-index: 30;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_intro_universal_bg_wrap .bg_wrap .overlay_image.top{background-image: url(..//img/nmain/new/3.jpg);}
.nmaiya_tm_intro_universal_bg_wrap .bg_wrap .overlay_color.top{background-color: red;}
.nmaiya_tm_intro_universal_bg_wrap .content.top{height: 75vh;}
.nmaiya_tm_intro_universal_bg_wrap .content.top .main_titles_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.nmaiya_tm_intro_universal_bg_wrap .logo_holder{margin-bottom: 25px;}
.nmaiya_tm_intro_universal_bg_wrap .logo_holder span{
	display: block;
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 10px;
}
.nmaiya_tm_intro_universal_bg_wrap .logo_holder h3{
	font-size: 50px;
	font-weight: 600;
	color: #fff;
}
.nmaiya_tm_intro_universal_bg_wrap .intro_definition{margin-bottom: 26px;}
.nmaiya_tm_intro_universal_bg_wrap .intro_definition p{
	color: #FFFFFF;
	font-size: 25px;
	font-weight: 500;
	font-family: "Montserrat";
}
.nmaiya_tm_intro_universal_bg_wrap .purchase_button a{
	color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 8px 35px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 600;
    border-radius: 3px;
}
.nmaiya_tm_intro_universal_bg_wrap .purchase_button a i{margin-right: 10px;}
.nmaiya_tm_main_demos_wrap,
.nmaiya_tm_main_demos_title,
.nmaiya_tm_main_demos_list_wrap,
.nmaiya_tm_main_demos_list_wrap ul li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #f1f1f1;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.nmaiya_tm_main_demos_wrap{padding-bottom: 60px;}
.nmaiya_tm_main_demos_title{text-align: center;}
.nmaiya_tm_main_demos_title span{
	display: inline-block;
	text-align: center;
	color: #000;
	font-size: 25px;
	font-weight: 600;
	padding: 80px 0px;
	text-transform: uppercase;
	font-family: "Montserrat";
}
.nmaiya_tm_main_demos_title.another span{padding-top: 20px !important;}
.nmaiya_tm_main_demos_list_wrap ul{
	margin: 0px 0px 0px -40px;
	list-style-type: none;
}
.nmaiya_tm_main_demos_list_wrap ul li{
	margin: 0px 0px 40px 0px;
	float: left;
	width: 33.3333%;
	padding-left: 40px;
	position: relative;
	top: 0px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
	
}
.nmaiya_tm_main_demos_list_wrap ul li:hover{top: -5px;left: 0px;}
.nmaiya_tm_main_demos_list_wrap ul li .inner{
	position: relative;
	overflow: hidden;
	box-shadow: 0px 5px 40px -8px rgba(0,0,0,.1);
	padding-bottom: 20px;
}
.nmaiya_tm_main_demos_list_wrap ul li .inner .image_holder{margin-bottom: 15px;}
.nmaiya_tm_main_demos_list_wrap ul li .inner .name{
	width: 100%;
	float: left;
	text-align: center;
}
.nmaiya_tm_main_demos_list_wrap ul li .inner .name span{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	text-transform: uppercase;
}
.nmaiya_tm_main_demos_list_wrap ul li .inner .name span a{
	text-decoration: none;
	color: #000;
	font-family: "Montserrat";
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.nmaiya_tm_main_demos_list_wrap ul li .inner .name span a:hover{color: #BC0127;}
.nmaiya_tm_main_demos_list_wrap ul li .inner .new{
	position: absolute;
	top: 15px;
	left:-33px;
	transform: rotate(-45deg);
}
.nmaiya_tm_main_demos_list_wrap ul li .inner .new span{
	display: inline-block;
	color: #FFFFFF;
	background-color: #BC0127;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	padding: 5px 45px;
}







@media (max-width: 1200px) {
	.nmaiya_tm_list_wrap[data-column="5"] ul.total > li{width: 25%;}
}
@media (max-width: 1040px) {
	.nmaiya_tm_trigger{display: block;}
	#nmaiya_tm_popup_blog .close{right: 10px;}
	.nmaiya_tm_navigation_wrap .nav_list_wrap{display: none;}
	.nmaiya_tm_navigation_wrap .logo{position: relative;top:-1px;}
	.nmaiya_tm_navigation_wrap .logo .dark_logo{display: inline-block;}
	.nmaiya_tm_navigation_wrap .logo .light_logo{display: none;}
	.nmaiya_tm_navigation_wrap{padding: 30px 0px;background-color: #fff;border-bottom: 1px solid rgba(0,0,0,.1);}
	.nmaiya_tm_about_wrap .leftbox{width: 45%;}
	.nmaiya_tm_about_wrap .rightbox{width: 55%;padding-left: 20px;}
	.nmaiya_tm_list_wrap[data-column="4"] ul.total > li{width: 33.3333%;}
	.nmaiya_tm_list_wrap[data-column="5"] ul.total > li{width: 33.3333%;}
	.nmaiya_tm_counter_list li{width: 50%;}
	.nmaiya_tm_counter_list li .inner{padding: 60px 15px 63px 15px;}
	.nmaiya_tm_portfolio_single_wrap .descriptions_wrap{flex-direction: column;}
	.nmaiya_tm_portfolio_single_wrap .descriptions_wrap .left{margin-bottom: 50px;width: 100%;}
	.nmaiya_tm_portfolio_single_wrap .descriptions_wrap .right{width: 100%;}
	.nmaiya_tm_preloader{display: none;}
	.nmaiya_tm_portfolio_single_wrap .image_list_another ul li{width: 50%;}
}
@media (max-width: 768px) {
	.nmaiya_tm_navigation_wrap{padding: 25px 0px;}
	.nmaiya_tm_nmain_title .first .another{font-size: 40px;}
	.nmaiya_tm_animation_text_word{font-size: 45px;}
	.nmaiya_tm_about_wrap .leftbox{display: none;}
	.nmaiya_tm_about_wrap .rightbox{width: 100%;padding-left: 0px;}
	.nmaiya_tm_list_wrap[data-column="3"] ul.total > li{width: 50%;}
	.nmaiya_tm_list_wrap[data-column="4"] ul.total > li{width: 50%;}
	.nmaiya_tm_list_wrap[data-column="5"] ul.total > li{width: 50%;}
	.nmaiya_tm_portfolio_list > li{width: 50%;}
	.nmaiya_tm_counter_list li .inner{padding: 45px 15px 48px 15px;}
	.nmaiya_tm_main_demos_list_wrap ul li{width: 50%;}
	.nmaiya_tm_portfolio_single_wrap .image_list_another ul{margin: 0px;}
	.nmaiya_tm_portfolio_single_wrap .image_list_another ul li{width: 100%;padding-left: 0px;}
}
@media (max-width: 480px) {
	.nmaiya_tm_navigation_wrap{padding: 20px 0px;}
	.nmaiya_tm_top_bar_wrap ul li{margin: 0px;}
	.nmaiya_tm_nmain_title .first{line-height: 1;}
	.nmaiya_tm_nmain_title .first .another{font-size: 30px;}
	.nmaiya_tm_animation_text_word{font-size: 35px;}
	.nmaiya_tm_list_wrap[data-column="2"] ul.total > li{width: 100%;}
	.nmaiya_tm_list_wrap[data-column="3"] ul.total > li{width: 100%;}
	.nmaiya_tm_list_wrap[data-column="4"] ul.total > li{width: 100%;}
	.nmaiya_tm_list_wrap[data-column="5"] ul.total > li{width: 100%;}
	.nmaiya_tm_portfolio_list{margin: 0px;}
	.nmaiya_tm_portfolio_list > li{width: 100%;padding: 0px;}
	.nmaiya_tm_portfolio_filter li{margin-right: 20px;}
	.nmaiya_tm_about_wrap .about_short_contact_wrap ul li{width: 100%;margin-right: 0px;margin-bottom: 5px;}
	.nmaiya_tm_about_wrap .buttons_wrap ul li{width: 100%;margin-right: 0px;margin-bottom: 15px;}
	.nmaiya_tm_counter_list li{width: 100%;}
	.nmaiya_tm_counter_list li .inner{padding: 0px 0px 35px 0px;}

	.nmaiya_tm_main_demos_list_wrap ul{margin-left: 0px;}
	.nmaiya_tm_main_demos_list_wrap ul li{width: 100%;padding: 0px;}
	.nmaiya_tm_portfolio_single_wrap .descriptions_wrap .left .list ul li span.one{min-width: 85px;}
}	